<!DOCTYPE html>

<html>

<head>
    <title>Practical Test</title>
    <style>
        body {
            background-color: #ffff00;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>School News</h1>
    <div>
        {% if newsList %}
            {% for news in newsList %}
            <h2>{{news.newsTitle}}</h2>
            <p>
                <i>by {{news.newsAuthor}}. {{news.newsDate}}</i>
            </p>
            <p>
                {{news.newsDescription}}
            </p>
            {% endfor %}
            {% else %}
            <strong>No news to display.</strong>
            {% endif %}
    </div>
</body>

</html>